<form method="post" id="form1" action="/">
    <label>Czy jest sygnał Z?<input type="checkbox" id="is_z"></label>
    <br>
    <label>Ile jest stanów?<input type="number" id="inp" min="4" max="16" step="1" value="4" maxlength="2"/></label>
    <br>
    <label>Jaki typ przerzutnika?
        {%- for subfield in form.ff_type -%}
            {{ subfield }} {{ subfield.label }}
        {% endfor %}
    </label>

    <input class="btn btn-default submit" type="submit" value="SOLVE!" form="form1">

    {% for i in range(2) %}
        <table class="hidden table{{ i }} table table-striped table-bordered table-condensed">
            <tr>
                <th class="hidden table1">Z</th>
                <th>q(t)</th>
                <th>q(t+1)</th>
            </tr>
            {% for j in range(16) %}
                <tr class="hidden" id="{{ i }}_{{ j }}">
                    <td class="hidden table1">{{ i }}</td>
                    <td>{{ j }}</td>
                    <td>{{ form.get_field(i, j) }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <div style="clear:both"></div>

    <input class="btn btn-default submit" type="submit" value="SOLVE!" form="form1">
</form>
