<form method="post" id="form1" action="/">
    {{ form.is_z.label }}{{ form.is_z }}
    <br>
    {{ form.num.label }} <span id="num_val"></span>{{ form.num(min=4, max=16, value=4) }}
    <br>
    {{ form.ff_type.label }}{{ form.ff_type }}

    {% for i in range(2) %}
        <table class="hidden table{{ i }} table table-striped table-bordered table-condensed">
            <tr>
                <th class="hidden table1">Z</th>
                <th>q(t)</th>
                <th>q(t+1)</th>
            </tr>
            {% for j in range(16) %}
                <tr class="hidden" id="{{ i }}_{{ j }}">
                    <td class="hidden table1">{{ i }}</td>
                    <td>{{ j }}</td>
                    <td>{{ form.get_field(i, j) }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <div style="clear:both"></div>

    {{ form.solve(class='btn btn-default ') }}
</form>
