<form method="post" id="form1" action="/">
    <input class="btn btn-default submit" type="submit" value="SOLVE!" form="form1">
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Z</th>
            <th>q(t)</th>
            <th>q(t+1)</th>
        </tr>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>{{ form.move_0_0(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>0</td>
            <td>1</td>
            <td>{{ form.move_0_1(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>0</td>
            <td>2</td>
            <td>{{ form.move_0_2(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>0</td>
            <td>3</td>
            <td>{{ form.move_0_3(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>0</td>
            <td>4</td>
            <td>{{ form.move_0_4(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>0</td>
            <td>5</td>
            <td>{{ form.move_0_5(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>0</td>
            <td>6</td>
            <td>{{ form.move_0_6(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>0</td>
            <td>7</td>
            <td>{{ form.move_0_7(maxlength=1) }}</td>
        </tr>
    </table>

    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Z</th>
            <th>q(t)</th>
            <th>q(t+1)</th>
        </tr>
        <tr>
            <td>1</td>
            <td>0</td>
            <td>{{ form.move_1_0(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>{{ form.move_1_1(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>{{ form.move_1_2(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>1</td>
            <td>3</td>
            <td>{{ form.move_1_3(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>1</td>
            <td>4</td>
            <td>{{ form.move_1_4(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>1</td>
            <td>5</td>
            <td>{{ form.move_1_5(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>1</td>
            <td>6</td>
            <td>{{ form.move_1_6(maxlength=1) }}</td>
        </tr>
        <tr>
            <td>1</td>
            <td>7</td>
            <td>{{ form.move_1_7(maxlength=1) }}</td>
        </tr>
    </table>
    <input class="btn btn-default submit" type="submit" value="SOLVE!" form="form1">
</form>
