<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>matbur's minimalizer</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/style.css') }}">
    <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">matbur's minimalizer</a>
        </div>
        {#        <div id="navbar" class="collapse navbar-collapse">#}
        {#            <ul class="nav navbar-nav">#}
        {#                <li class="active"><a href="#">Home</a></li>#}
        {#                <li><a href="#about">About</a></li>#}
        {#            </ul>#}
        {#        </div>#}
    </div>
</nav>

<header class="jumbotron">
    <div class="text-center"><h1>Pomoc naukowa dla studentów PWr EKA</h1>
        <h3>żeby się łatwiej pisało sprawka z LUCa i UCiSWa</h3>
    </div>
    <br>
    <h5>Tutorial:</h5>
    <ol>
        <li>kolumna (wypełniona) to sygnał sterujący Z.</li>
        <li>kolumna (wypełniona) to stan automatu w czasie t.</li>
        <li>kolumna to stan w jakim automat się znajdzie pod wpływem sygnału Z w następnym cyklu zegarowym.</li>
    </ol>
</header>

{% include 'flash.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% include 'form.html' %}
        </div>
        <div class="col-md-8">
            <a class="btn btn-default"
               href="{{ url_for('get_file', ext='tex')+ts }}"
               target="_blank"
               role="button">Pobierz plik TEX</a>
            <a class="btn btn-default"
               href="{{ url_for('get_file', ext='pdf')+ts }}"
               target="_blank"
               role="button">Pobierz plik PDF</a>
            <br>
            <img src="{{ url_for('get_file', ext='jpg')+ts }}" alt="a tutaj będzie wygenerowany plik"
                 style="width: 100%">
        </div>
    </div>
</div>


<footer class="jumbotron" style="margin: 0">
    Pozdrawiam cieplutko, <a href="mailto:mateusz@burniak.pl">matbur</a>
    <a href="https://www.facebook.com/burniak" target="_blank">
        <img src="{{ url_for('static', filename='img/facebook.ico') }}">
    </a>
</footer>

{% include 'corner.html' %}

<script language="javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>