{% from "_helpers.html" import render_field, get_flash %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>matbur's minimalizer</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<a href="https://github.com/matbur95/counter">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
         alt="Fork me on GitHub"
         data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
</a>

{{ get_flash() }}

<form method=post action="/">
    <dl>
        {{ render_field(form.move_0_0) }}
        {{ render_field(form.move_0_1) }}
        {{ render_field(form.move_0_2) }}
        {{ render_field(form.move_0_3) }}
        {{ render_field(form.move_0_4) }}
        {{ render_field(form.move_0_5) }}
        {{ render_field(form.move_0_6) }}
        {{ render_field(form.move_0_7) }}
        {{ render_field(form.move_1_0) }}
        {{ render_field(form.move_1_1) }}
        {{ render_field(form.move_1_2) }}
        {{ render_field(form.move_1_3) }}
        {{ render_field(form.move_1_4) }}
        {{ render_field(form.move_1_5) }}
        {{ render_field(form.move_1_6) }}
        {{ render_field(form.move_1_7) }}
    </dl>
    <p><input type=submit value="SOLVE!">
</form>

<a href="{{ url_for('get_tex_file') }}">Download TEX file</a>
<a href="{{ url_for('get_pdf_file') }}">Download PDF file</a>

<img src="{{ url_for('get_jpg_file') }}" alt="here will be an image" width="100%">

<a href="mailto:mateusz@burniak.pl">Have you found a bug? Write me</a>

</body>
</html>
