{% from "_helpers.html" import render_field, get_flash %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>matbur's minimalizer</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<h1>Pomoc naukowa dla studentów PWr</h1>
<h2>żeby im się łatwiej pisało sprawka z LUCa i UCiSWa</h2>
<h3>Tutorial</h3>
<ol>
    <li>kolumna #0 (wypełniona) to sygnał sterujący Z</li>
    <li>kolumna #1 (wypełniona) to stan automatu w czasie t</li>
    <li>kolumna #2 to stan w jakim automat się znajdzie pod wpływem sygnału Z w następnym cyklu zegarowym</li>
</ol>

{{ get_flash('Podane przejścia: ') }}

<span>Z | q(t) | q(t+1)</span>

<form method=post action="/">
    <p><input type=submit value="SOLVE!">
    <dl>
        {{ render_field(form.move_0_0) }}
        {{ render_field(form.move_0_1) }}
        {{ render_field(form.move_0_2) }}
        {{ render_field(form.move_0_3) }}
        {{ render_field(form.move_0_4) }}
        {{ render_field(form.move_0_5) }}
        {{ render_field(form.move_0_6) }}
        {{ render_field(form.move_0_7) }}
        {{ render_field(form.move_1_0) }}
        {{ render_field(form.move_1_1) }}
        {{ render_field(form.move_1_2) }}
        {{ render_field(form.move_1_3) }}
        {{ render_field(form.move_1_4) }}
        {{ render_field(form.move_1_5) }}
        {{ render_field(form.move_1_6) }}
        {{ render_field(form.move_1_7) }}
    </dl>
    <p><input type=submit value="SOLVE!">
</form>

<a href="{{ url_for('get_tex_file') }}" target="_blank">Download TEX file</a>
<a href="{{ url_for('get_pdf_file') }}" target="_blank">Download PDF file</a>

<img src="{{ url_for('get_jpg_file')+ts }}" alt="here will be an image" width="100%">

<footer>Pozdrawiam cieplutko, <a href="mailto:mateusz@burniak.pl">matbur</a></footer>

<a href="https://github.com/matbur95/counter">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
         alt="Fork me on GitHub"
         data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
</a>

</body>
</html>
