.navbar {
    margin: 0;
    border-radius: 0;
}

h1 {
    font-size: 3em !important;
}

.table {
    float: left;
    width: calc(50% - 10px);
    margin-left: 20px;
    margin-top: 10px;
}

.table0 {
    margin-left: 0;
}

th, td {
    text-align: center;
    vertical-align: middle !important;
    width: 50px;
}

td > input {
    width: 50px;
}

#solve {
    width: 100%;
    margin: 0 0 10px;
}

#is_z {
    margin: 0 10px;
}

#num_val {
    margin: 0 10px;
}

#num {
    display: inline;
    width: 100px;
    margin: 0 10px;
}

#ff_type {
    display: inline;
    /*margin: 0 10px;*/
    padding: 0 10px;
}

#ff_type > li {
    display: inline;
    margin: 0 5px;
}

#ff_type > li > input {
    width: 20px;
}

.jumbotron {
    padding: 1em 4em;
    margin: 0;
}

.row {
    margin: 2em 0;
}

footer {
    text-align: center;
}
