.navbar {
    margin: 0;
    border-radius: 0;
}

h1 {
    font-size: 3em !important;
}

.table {
    float: left;
    width: calc(50% - 10px);
    margin-left: 20px;
}

input + .table {
    margin-left: 0;
}

th, td {
    text-align: center;
    width: 50px;
}

input {
    text-align: center;
    width: 30px;
}

input.submit {
    width: 100%;
    margin: 0 0 10px;
}

.jumbotron {
    padding: 1em 4em;
    margin: 0;
}

.row {
    margin: 2em 0;
}

footer {
    text-align: center;
}
